#*
 Copyright 2010-2013 Norconex Inc.
 
 This file is part of Norconex IDOL Committer.
 
Norconex IDOL Committer is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
Norconex IDOL Committer is distributed in the hope that it will be useful, 
 but WITHOUT ANY WARRANTY; without even the implied warranty of 
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Norconex IDOL Committer. If not, see <http://www.gnu.org/licenses/>.
*#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head><title>Download</title><meta name="Author" content="Norconex Inc." /></head> 


$h2 Latest Release

**[Download Release ${currentStableVersion}](http://norconex.s3.amazonaws.com/repo/release/com/norconex/collectors/norconex-committer-idol/${currentStableVersion}/norconex-committer-idol-${currentStableVersion}.zip)**

This release is the first open-source release of IDOL Committer.
  
[View detailed Release Notes](changes-report.html) for all releases.

Older releases: None yet
  

********************************************************************************
  
<a name="source"></a>
  
$h2 Source
 
Source code can be obtained on GitHub: 
(https://github.com/Norconex/committer-idol).
  
Maven users can add the following to their pom.xml:
  
    <repository>  
        <id>norconex-release-repo</id>  
        <name>Norconex Release Repository</name>  
        <url>http://norconex.s3.amazonaws.com/repo/release</url>  
        <releases>  
            <enabled>true</enabled>  
        </releases>  
        <snapshots>  
            <enabled>false</enabled>  
        </snapshots>  
    </repository>  

    <dependency>
        <groupId>com.norconex.collectors</groupId>
        <artifactId>norconex-committer-idol</artifactId>
        <version>${currentStableVersion}</version>
    </dependency>

    <!-- At your own risk: -->
    <repository>  
        <id>norconex-snapshot-repo</id>  
        <name>Norconex Snapshot Repository</name>  
        <url>http://norconex.s3.amazonaws.com/repo/snapshot</url>  
        <releases>  
            <enabled>false</enabled>  
        </releases>  
        <snapshots>  
            <enabled>true</enabled>  
        </snapshots>  
    </repository>  
  