#*
 Copyright 2010-2013 Norconex Inc.
 
 This file is part of Norconex IDOL Committer.
 
Norconex IDOL Committer is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
Norconex IDOL Committer is distributed in the hope that it will be useful, 
 but WITHOUT ANY WARRANTY; without even the implied warranty of 
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Norconex IDOL Committer. If not, see <http://www.gnu.org/licenses/>.
*#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head><title>Home</title><meta name="Author" content="Norconex Inc." /></head> 


The **IDOL Committer** library provides an implementation of 
[Norconex Committer](http://www.norconex.com/product/committer) targeting
[HP Autonomy](http://www.autonomy.com/).

The current stable version is **${currentStableVersion}**

**Quick Links:**
  
  * [Download](./download.html)
  
  * [API documentation](./apidocs/index.html)
    
  * [Release notes](./changes-report.html)


$h2 Installation

This committer is a library that you must include in another product classpath
(along with committer dependencies).  For use with a Norconex Collector such
as [Norconex HTTP Collector](http://www.norconex.com/product/collector-http/),
follow these simple steps:

  * ([Download](./download.html)) the latest release of IDOL Committer

  * Unzip the downloaded file somewhere.

  * Copy the content of the `<committer_unzipped_folder>/lib` folder
    to `<collector_install_folder>/lib`.
    
  * If you notice different versions of the same library in the lib folder
    It is usually best advised to keep the most recent copy only.
    
$h2 Configuration

When used with a Norconex Collector, you can use the following XML to configure
the IDOL Committer:

    <committer class="com.norconex.committer.idol.IdolCommitter">
        <host>...</host>
        <aciPort>...</aciPort>
        <indexPort>...</indexPort>
        <databaseName>...</databaseName>
        <dreAddDataParams>
            <param name="(name)">(value)</param>
        </dreAddDataParams>
        <dreDeleteRefParams>
            <param name="(name)">(value)</param>
        </dreDeleteRefParams>
        <idSourceField keep="[false|true]">...</idSourceField>
        <idTargetField>...</idTargetField>
        <contentSourceField keep="[false|true]">...</contentSourceField>
        <contentTargetField>...</contentTargetField>
        <queueDir>...</queueDir>
        <queueSize>...</queueSize>
        <commitBatchSize>...</commitBatchSize>
    </committer>

Tag descriptions:

<table>
 <thead>
  <tr>
   <th>Tag</th>
   <th>Description</th>
  </tr>
 </thead>
 <tbody>
   <tr>
     <td>host</td>
     <td>IDOL Server or DIH host name.</td>
   </tr>
   <tr>
     <td>aciPort</td>
     <td>IDOL action port.</td>
   </tr>
   <tr>
     <td>indexPort</td>
     <td>IDOL indexing port.</td>
   </tr>
   <tr>
     <td>databaseName</td>
     <td>Optional IDOL Databse Name where to store documents.</td>
   </tr>
   <tr>
     <td>dreAddDataParams/param</td>
     <td>IDOL URL parameter to be appended to DREADDDATA requests.</td>
   </tr>
   <tr>
     <td>dreDeleteRefParams/param</td>
     <td>IDOL URL parameter to be appended to DREDELETEREF requests.</td>
   </tr>
   <tr>
     <td>idSourceField </td>
     <td>Optional name of source field that will be mapped to the IDOL 
         "DREREFERENCE" field or whatever "idTargetField" specified. Defaults 
         to <code>document.reference</code>.</td>
   </tr>
   <tr>
     <td>idTargetField</td>
     <td>Optional name of IDOL target field where to store a document unique 
         identifier (idSourceField).  Defaults to "DREREFERENCE".</td>
   </tr>
   <tr>
     <td>contentSourceField</td>
     <td>Optional metadata field to act as document "content".
         Default takes the content document itself.
         Once re-mapped, the metadata source field is deleted,
         unless "keep" is set to true.</td>
   </tr>
   <tr>
     <td>contentTargetField</td>
     <td>Optional IDOL target field name for a document content/body.
          Default to "DRECONTENT".</td>
   </tr>
   <tr>
     <td>queueDir</td>
     <td>Optional path where to queue files.</td>
   </tr>
   <tr>
     <td>queueSize</td>
     <td>Max queue size before committing.</td>
   </tr>
   <tr>
     <td>commitBatchSize</td>
     <td>Maximum number of document addition/deletion commands to send at 
         once to IDOL.</td>
   </tr>
 </tbody>
</table>

